<div class="global">
    <%= render 'page/header' %>
    <div class="body">
        <div class="title">
            Projects
        </div>
        <%= Project.find_each do |p| %>
          <div class="project">
            <div class="projectheader">
              <%= p.title %>
            </div>
            <% p.links.each do |link| %>
              <div class="projectlink">
                <a href="<%= link.url %>" target="_blank"> > <%= link.text %> </a>
              </div>
            <% end %>
            <div class="projectcontent">
              <%= p.content.html_safe %>
            </div>
          </div>
        <hr />
        <% end %>
    </div>
</div>
